{% apply inline_css %}
<style>
    h1 {
        color:
            #ff851b;
    }
</style>

<h1>Vous avez un nouveau contact</h1>

<br />Bonjour,
<br />{{Nom}} {{Prenom}} a {{Age}} ans et habite au {{Adresse}}. Il a choisi {{Formation}} et voudrais vous rencontrer.

{% endapply %}